@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 95%;
    --foreground: 200 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 200 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 10% 20%;
    --primary: 153 35% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 36 33% 90%;
    --secondary-foreground: 153 35% 18%;
    --muted: 36 20% 92%;
    --muted-foreground: 200 5% 45%;
    --accent: 16 55% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 36 20% 85%;
    --input: 36 20% 85%;
    --ring: 153 35% 18%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
